<FPSTooler_Start-Instruction><<!注意!>
  ！！！请以"管理员身份"运行本程序 ！！！
  ！！！请以"Vulkan"或"无边框模式"运行游戏，以便工具人正常覆盖 ！！！
  ！！！游戏内键鼠设置请选择"原生输入" ！！！
  ·游戏的分辨率、比例会影响"武器识别"与"压枪功能"。
  ·游戏内的鼠标灵敏度会影响"压枪功能"，鼠标本身自带的DPI调节不会影响压枪功能。
  ·武器识别到会自动切换到当前手持武器指定的"压枪参数组",请先在"压枪参数"与"武器数据"中编辑并保存好对应数据。

<快捷功能>
   ·Alt+F1: 准星开关
   ·Alt+空格: 媒体暂停/播放
   ·Alt+↑: 音量减少  /  Alt+↓: 音量增加
   ·Alt+←: 上一首  /  Alt+→: 下一首
   ·5: F5  /  6: F6

<主要功能>
 !第一次使用或切换游戏请先进行[目标源设置]!
  ·[设置目标源(获取文件名&窗口类)] (需手动保存)
    触发: [Ctrl+CapsLock]
    说明: 将需要获取的(游戏)窗口切到最前，轻按一下触发键，回到工具人的设置页面，确认获取正确无误，保存并重载。
  ·[文字输入]
    触发: [F1] or [Ins]
    说明: 在输入框打好要发送的文字(可以是中文/韩文/日文...等任何语言)，回到游戏按下触发键自动输入文字(请自行先按T/Y)。
  ·[程序暂停(PAUSE)]
    开关: [右Ctrl] or [P]
    被动触发: [在非游戏界面按下鼠标] or [Shift+F2]
  ·[压枪功能-切换范围]
    触发: [N+1~0] or [NumEnter+Num1~0]
  ·[压枪功能-切换数据]
    触发: [M+1~0] or [Num1~0]
  ·[压枪功能-手动切至默认数据<Data-1>]
    触发: [Num.]
  ·[压枪功能-压枪值微调快捷键]
    +1: [Num+] or [+]
    -1: [Num-] or [-]
    +0.1: [NumEnter+Num+] or [BackSpace++]
    -0.1: [NumEnter+Num-] or [BackSpace+-]
  ·[连点功能<≡>开关] (需手动保存)
    开关: [鼠标前侧键]
    说明：连点开启时屏幕显示<≡>。
  ·[暂时停止压枪&连点]
    触发: 按住[鼠标前后侧键] or [鼠标前后侧键] or [CapsLock] or [X]
  ·[武器识别-手动]
    触发: [右Alt]
  ·[自动武器识别开关] (需手动保存)
    开关: [右Shift+右Ctrl]
  ·[快速返回菜单]
    触发: [F1/F2/F3/F4] or [Space+1/2/3/4]
    (支持模式:简中/繁中/English,分辨率1920×1080 4:3)
  ·[一键封墙]
    触发: [H] 
    说明: 音量-40%,封完墙自动还原
  ·[大陀螺(自动还原)]
    触发: 长按[左Alt+左Shift]
  ·[强制结束游戏(秒关)]
    触发: [Ctrl+Alt+Insert]
  ·[自动挂机<AFK>]
    被动触发: [无动作约20秒自动开启] 
    说明: 无动作时间参考屏幕上方的"¿"值，挂机开启时屏幕显示<AFK>。

<推荐武器配件 -Rainbow6>
  ·倍镜: ∞
  ·握把: 水平 or 转角
  ·枪口: 补偿

<推荐游戏键位 -Rainbow6>
  ·即按即说: CapsLock
  ·主要装备: 后侧键
  ·次要装备: 中键
  ·进入观测工具: Z | 5
  ·部署无人机: 3 | 4 | ～
  ·放下拆弹器: G
  ·标记: X
  ·扫描: 左Ctrl | C
  FOV: 80 / 鼠标DPI: 400 / 游戏灵敏度(水平&垂直): 13
  瞄准灵敏度: 标准50,58,94,96,97,98,98,99,152
><FPSTooler_End-Instruction>